params {    
    // ---- required settings ----
    fast5_dir   = "${baseDir}/inputs"
    output_dir  = "${baseDir}/output/"
}

// -------- DONT MODIFY BELOW THIS LINE --------

profiles {

    standard {
        executor.name = 'local'
        docker.enabled = true
        singularity.enabled = false
    }

    cluster {

        executor {
            name = 'slurm'
            queueSize = 50 // The number of tasks the executor will handle in a parallel manner
            submitRateLimit = '1sec' // Determines the max rate of job submission per time unit, for example '10sec' (10 jobs per second)
            pollInterval = '1m' // The interval between polling for job status updates
        }

        process {
            errorStrategy = 'retry'
            maxRetries = 5

            container = 'genomicpariscentre/guppy'

            withName: 'basecall' {
                cpus = 8
                memory = '16 GB'
                time = '2h'
            }
        }

        singularity {
            enabled     = true
            autoMounts  = true
            cacheDir    = "${baseDir}/containers"
        }

        docker.enabled = false
    }
}

// reporting and results

report {
    enabled     = true
    file        = "${params.output_dir}/reports/execution_report.html"
    overwrite   = true
}

timeline {
    enabled     = true
    file        = "${params.output_dir}/reports/timeline_report.html"
    overwrite   = true
}

dag {
    enabled = false
    file    = 'ill2nanopore_dag.mmd'
}

manifest {
    name            = 'a-hr/nanopore'
    author          = 'Alvaro Herrero Reiriz'
    homePage        = 'https://github.com/a-hr/illumina2nanopore'
    description     = 'A pipeline to demultiplex, map, deduplicate and count target RNA sequences'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}