// -------- DEFAULT PARAMETER VALUES --------
params {
    fast5_dir   = "${baseDir}/inputs"
    output_dir  = "${baseDir}/output/"
    config_file = "dna_r9.4.1_450bps_hac.cfg"

    // --------  TRIMMING CONFIG --------
    five_prime_fw   = "AATGATACGGCGACCACCGAGATCTACA"
    three_prime_fw  = "TATGCCGTCTTCTGCTTG"
    five_prime_rv   = "CAAGCAGAAGACGGCATA"
    three_prime_rv  = "TGTAGATCTCGGTGGTCGCCGTATCATT"

    // -------- OTHER CONFIGS --------
    multiqc_config =  "${baseDir}/assets/multiqc_config.yaml"

}

// -------- DONT MODIFY BELOW THIS LINE --------

profiles {

    standard {
        includeConfig 'conf/standard.config'
    }

    cluster {
        includeConfig 'conf/cluster.config'
    }
}

report {
    enabled     = true
    file        = "${params.output_dir}/reports/execution_report.html"
    overwrite   = true
}

timeline {
    enabled     = true
    file        = "${params.output_dir}/reports/timeline_report.html"
    overwrite   = true
}

dag {
    enabled = false
    file    = 'ill2nanopore_dag.mmd'
}

manifest {
    name            = 'a-hr/nanopore'
    author          = 'Alvaro Herrero Reiriz'
    homePage        = 'https://github.com/a-hr/illumina2nanopore'
    description     = 'A pipeline to demultiplex, map, deduplicate and count target RNA sequences'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}