// -------- DEFAULT PARAMETER VALUES --------
params {
    // -------- BASIC CONFIG --------
    run_name    = "run_test"
    output_dir  = "${baseDir}/output"

    // -------- INPUT FASTQ --------
    fastq_dir   = "${baseDir}/inputs/fastq"

    // -------- BASECALLING --------
    enable_basecalling  = false
    enable_gpu          = false  // todo: implement in the pipeline

    fast5_dir           = "${baseDir}/inputs"
    config_file         = "dna_r9.4.1_450bps_sup.cfg"
    
    // -------- ORIENTATION DEMULTIPLEXING --------
    enable_orientation_demultiplexing = true

    fw_fp_P5_1  = "AATGATACGGCGACCACCGAGATCTACACTCTTTCCCTA" 
    fw_tp_P3_1  = "ATCTCGTATGCCGTCTTCTGCTTG"
    rv_fp_P3_1  = "CAAGCAGAAGACGGCATACGAGAT"
    rv_tp_P5_1  = "TAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT"

    // -------- LIBRARY DEMULTIPLEXING --------
    enable_library_demultiplexing = true
    lib_csv = "${baseDir}/inputs/csvs/libraries.csv"

    // --------  TRIMMING --------
    fw_P5_2 = "CACGACGCTCTTCCGATCT"
    fw_P3_2 = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC"

    min_length = 0
    max_length = 999999

    // -------- BARCODE DEMULTIPLEXING --------
    enable_barcode_demultiplexing = true
    bc_csv  = "${baseDir}/inputs/csvs/barcodes.csv"

    // -------- UMI CLUSTERING --------
    enable_UMI_treatment    = true
    enable_UMI_clustering   = false  // todo: implement in the pipeline

    UMI_length = 6  // todo: implement in the pipeline

    // -------- ALIGNING --------
    enable_shared_memory    = false
    index_dir               = "${baseDir}/index"

    // -------- MINIMAP --------
    enable_minimap  = false
    ref_fasta       = "${baseDir}/inputs/fasta/reference.fa" 

    // -------- FEATURE COUNTING --------
    enable_isoform_counting = false

    saf_file                = "${baseDir}/inputs/csvs/annotations.saf"
    gtf_file                = "${index_dir}/annotations.gtf"

    multimapping_allowed    = false
    fraction_allowed        = false

    // -------- RETRIEVING INTERMEDIATE FILES --------
    publish_basecalled              = false
    publish_orient_demultiplexed    = false
    publish_complemented            = false
    publish_merged_complemented     = false
    publish_lib_demultiplexed       = false
    publish_trimmed                 = false
    publish_bc_demultiplexed        = false
    publish_UMI_extracted           = false
    publish_mapped                  = true

    // -------- OTHER CONFIGS --------
    multiqc_config = "${baseDir}/assets/multiqc_config.yaml"
    clean_up       = false
}

// -------- DONT MODIFY BELOW THIS LINE --------

profiles {

    standard {
        includeConfig 'conf/standard.config'
    }

    cluster {
        includeConfig 'conf/cluster.config'
    }
}

report {
    enabled     = true
    file        = "${params.output_dir}/reports/execution_report.html"
    overwrite   = true
}

timeline {
    enabled     = true
    file        = "${params.output_dir}/reports/timeline_report.html"
    overwrite   = true
}

dag {
    enabled = false
    file    = 'ill2nanopore_dag.mmd'
}

manifest {
    name            = 'a-hr/nanopore'
    author          = 'Alvaro Herrero Reiriz'
    homePage        = 'https://github.com/a-hr/illumina2nanopore'
    description     = 'A pipeline to demultiplex, map, deduplicate and count target RNA sequences'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}