executor {
    name = 'slurm'
    queueSize = 50 // The number of tasks the executor will handle in a parallel manner
    submitRateLimit = '1sec' // Determines the max rate of job submission per time unit, for example '10sec' (10 jobs per second)
    pollInterval = '1m' // The interval between polling for job status updates
}

process {
    errorStrategy = 'retry'
    maxRetries = 5

    withName: 'basecall' {
        container = 'genomicpariscentre/guppy'
        cpus = 8
        memory = '16 GB'
        time = '2h'
    }

    withName: 'raw_fastqc|trimmed_fastqc' {
        container = 'staphb/fastqc:latest'
        cpus = 8
        memory = '16 GB'
        time = '2h'
    }

    withName: 'multiqc' {
        container = 'ewels/multiqc:latest'
        cpus = 2
        memory = '4 GB'
    }
    
    withName: 'stats|reverse_complement|adapter_trim|demultiplex_bc' {
        container = 'ahr1/demultiplex'
        cpus = 8
        memory = '16 GB'
    }
}

singularity {
    enabled     = true
    autoMounts  = true
    cacheDir    = "${baseDir}/containers"
}

docker.enabled = false