executor {
    name = 'slurm'
    queueSize = 30 // The number of tasks the executor will handle in a parallel manner
    submitRateLimit = '1sec' // Determines the max rate of job submission per time unit, for example '10sec' (10 jobs per second)
    pollInterval = '1m' // The interval between polling for job status updates
}

process {
    errorStrategy = 'retry'
    maxRetries = 5

    withName: 'basecall' {
        container = 'genomicpariscentre/guppy-gpu'
        // nanozoo/guppy_gpu
        cpus = 24
        memory = '32 GB'
        time = '10h'
        clusterOptions = '--gres=gpu:p40:1'
    }

    withName: 'fastqc' {
        container = 'staphb/fastqc:latest'
        cpus = 8
        memory = '16 GB'
        time = '2h'
    }

    withName: 'multiqc' {
        container = 'ewels/multiqc:latest'
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }
    
    withName: "demultiplex_orientation|demultiplex_bc|demultiplex_library|reverse_complement|stats|adapter_trim" {
        container = 'ahr1/demultiplex'
        cpus = 8
        memory = '16 GB'
        time = '2h'
    }

    withName: 'align_STAR' {
        container = 'ahr1/staraligner:2.7.10b'
        cpus = 12
        memory = '40 GB'
        time = '2h'
    }

    withName: "align_MINIMAP" {
        container = 'ahr1/minimap2:latest'
        cpus = 12
        memory = '40 GB'
        time = '2h'
    }

    withName: 'extract_UMI|dedup_UMI|BAM_INDEX|featureCounts_targeted|featureCounts_global' {
        container = 'ahr1/subread'
    }

    withName: 'cluster_UMI' {
        container = 'ahr1/umiclusterer:1.0'
        cpus = 8
        memory = '8 GB'
        time = '1h'
    }

    withName: 'group_results|plot_results' {
        container = 'ahr1/plotly'
    }
}

singularity {
    enabled     = true
    autoMounts  = true
    cacheDir    = "${baseDir}/containers"
}

docker.enabled = false
