executor.name = 'local'
docker.enabled = true
singularity.enabled = false

process {
    withName: 'basecall' {
        container = 'genomicpariscentre/guppy'
    }

    withName: 'fastqc|fastqc_nano' {
        container = 'staphb/fastqc:latest'
    }

    withName: 'multiqc' {
        container = 'ewels/multiqc:latest'
    }
    
    withName: 'seqkit|adapter_trim' {
        container = 'ahr1/demultiplex'
    }
}