executor.name = 'local'
docker.enabled = true
singularity.enabled = false

process {
    withName: 'basecall' {
        container = 'genomicpariscentre/guppy'
    }

    withName: "fastqc" {
        container = 'staphb/fastqc:latest'
    }

    withName: 'multiqc' {
        container = 'ewels/multiqc:latest'
    }
    
    withName: "demultiplex_orientation|demultiplex_bc|demultiplex_library|reverse_complement|stats" {
        container = 'ahr1/demultiplex'
    }
}