executor.name = 'local'
docker.enabled = true
singularity.enabled = false

process {
    withName: 'basecall' {
        container = 'genomicpariscentre/guppy'
    }

    withName: "fastqc" {
        container = 'staphb/fastqc:latest'
    }

    withName: 'multiqc' {
        container = 'ewels/multiqc:latest'
    }
    
    withName: "demultiplex_orientation|demultiplex_bc|demultiplex_library|reverse_complement|stats|adapter_trim" {
        container = 'ahr1/demultiplex'
    }

    withName: 'STAR_ALIGN' {
        container = 'ahr1/staraligner:2.7.10b'
    }

    withName: "MINIMAP_ALIGN|MINIMAP_INDEX" {
        container = 'ahr1/minimap2:latest'
    }

    withName: 'extract_UMI|dedup_UMI|BAM_INDEX|featureCounts' {
        container = 'ahr1/subread'
    }

    withName: 'group_results|plot_results' {
        container = 'ahr1/plotly'
    }
}